<%- include('head') %>
<div class="container p-5">
    <div class="card mx-auto">
      <div class="card-header">
        <h1>Report</h1>
      </div>
      <div class="card-body">
        <p class="card-text">Send me a URL and I shall visit it</p>
          <form method=POST>
            <div class="form-group">
              <fieldset disabled>
                <div class="input-group mb-3">
                  <input placeholder="https://example.org" type="text" class="form-control" name="url">
                  <div class="input-group-append">
                    <button class="btn btn-primary">Report</button>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          </form>
      </div>
    </div>
  </div>

  <%- captcha %>
  <script>
    function captcha_cb(token) {
        const input = document.createElement('input')
        input.hidden = true;
        input.setAttribute('name', 'g-recaptcha-response')
        input.setAttribute('value', token);
        document.forms[0][0].appendChild(input);
        document.forms[0][0].removeAttribute('disabled');
    }
</script>

<%- include('foot') %>
