<!--
Copyright 2020 Google LLC
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
     https://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<meta charset="utf8">
<title>Amazing great website</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
<style>
.form {
max-width:300px;

margin:0 auto;
}

nav, .chatHeader{
background-color:#26422e;
}
.chatHeader{
border-radius:4px;
padding:15px;
color:white;
}

.chatText {
height:250px;
overflow-y:auto;
background-color:white;
width:100%
}

.chatText div {
width:100%;
border-bottom: 1px dotted #26422e;
padding:5px
}
.infoDiv {
text-align:center
}
.respDiv {
text-align:right
}
#msg{

}
.chatSendBtn {
float:right;
width:70px;
font-size:.9em
}

#poweredBy {
font-size:.5em;
margin-left:20px;
margin-top:5px;
}
#chatRender {
box-shadow:0 1px 1px #26422e;
position:absolute;
bottom:0px;
right:0px;
width:300px;
height:370px;
margin:20px;
padding-bottom:10px;
}

.closeChat {
float:right;
cursor:pointer;
font-size:1.2em;
width:20px;
}

main .container {
margin-top:15px;
}

.alert p {
white-space: pre-wrap;
}

</style>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>

<script src="static/chat.js"></script>
