<!--
Copyright 2020 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<!DOCTYPE html>
<html>

<head>
    <%- include('head') %>
</head>

<body>
    <%- include('nav') %>

    <div class="container pt-5 w-50">
        <% if (!user) { %>
        <h1>Welcome stranger!</h1>
        <hr class="featurette-divider">
        <p>
            Please <a href="/login">login</a> to add and display your notes!
        </p>


        <% } else {%>
        <h1>Welcome <%=user.username%>!</h1>
        <hr class="featurette-divider">
        <p>
        <ul>
            <li>Go to <a href='/settings'>/settings</a> to change your styles.</li>
            <li>Go to <a href='/note'>/note</a> to add a new note </li>
            <li>Go to <a href='/logout'>/logout</a> to log out </li>
        </ul>
        </p>

        <% } %>

    </div>

</body>

</html>