<%- include('head') %>
<div class="container p-5">
    <div class="card mx-auto">
      <div class="card-header">
        <h1>Report</h1>
      </div>
      <div class="card-body">
        <p class="card-text">Send me a URL and I shall visit it</p>
          <form action="/bot" method=POST>
            <div class="form-group">
              <fieldset>
                <div class="input-group mb-3">
                  <input placeholder="https://example.org" type="text" class="form-control" name="url">
                  <div class="input-group-append">
                    <button class="btn btn-primary">Report</button>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          </form>
      </div>
    </div>
  </div>

<%- include('foot') %>
