# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# See options available at https://github.com/google/nsjail/blob/master/config.proto

name: "apache2-proxy-nsjail"
description: "Example nsjail configuration for containing a web server."

mode: ONCE
uidmap {inside_id: "1000"}
gidmap {inside_id: "1000"}
mount_proc: true
keep_env: true
rlimit_as_type: HARD
rlimit_cpu_type: HARD
rlimit_nofile_type: HARD
rlimit_nproc_type: HARD

mount: [
  {
    src: "/chroot"
    dst: "/"
    is_bind: true
  },
  {
    src: "/dev"
    dst: "/dev"
    is_bind: true
  },
  {
    src: "/dev/null"
    dst: "/dev/null"
    is_bind: true
  },
  {
    src: "/etc/resolv.conf"
    dst: "/etc/resolv.conf"
    is_bind: true
  },
  {
    dst: "/mnt/disks/sessions"
    fstype: "tmpfs"
    rw: true
  },
  {
    src: "/mnt/disks/sessions"
    dst: "/mnt/disks/sessions"
    is_bind: true
    rw: true
    mandatory: false
  },
  {
    dst: "/mnt/disks/uploads"
    fstype: "tmpfs"
    rw: true
  },
  {
    src: "/mnt/disks/uploads"
    dst: "/mnt/disks/uploads"
    is_bind: true
    rw: true
    mandatory: false
  },
  {
    dst: "/tmp"
    fstype: "tmpfs"
    rw: true
  }
]
